body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#container-main {
  margin-top: 55px;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
:focus {
  outline: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pointer {
  cursor: pointer;
}

pre {
  white-space: pre-wrap;
}

#compose-editor .content-editable {
  min-height: 300px;
  overflow: auto;
}

#compose-editor .text-bold {
  font-weight: bold;
}

#compose-editor .text-italic {
  font-style: italic;
}

#compose-editor .text-underline {
  text-decoration: underline;
}

.folder-sticky-top {
  position: sticky !important;
  top: 0px;
  z-index: 1020;
}

.folder-checkbox {
  max-width: 20px !important;
}

/*nasty fix i propose nesting the subject to solve this later */
.folder-subject {
  width: 0;
}

.attachments {
  width: 260px;
}

.attachments .title {
  width: 200px;
}

.attachments .buttons {
  width: 40px
}

.text-indent {
  text-indent: 1em;
}

.no-transition > .progress-bar {
  transition: none !important;
}

.email-body {
  overflow: hidden;
  height: 0px;
  width: 100%;
}

.inner-shaddow {
  box-shadow: inset 7px 7px 9px -7px rgba(0, 0, 0, 0.4);
}

@media (max-width: 576px) {
  .tab-pane > .card {
    border: 0;
  }
}

@media (max-width: 767px) {
  .sideMenu {
    display: none;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 100000 !important;
    height: 100% !important;
    width: 300px !important;
    box-shadow: 5px 0px 5px #999;
  }

  .slide-in {
    display: block;
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
  }

  .slide-out {
    display: block;
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
  }

  @keyframes slide-in {
    0% {
      transform: translateX(-120%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @-webkit-keyframes slide-in {
    0% {
      -webkit-transform: translateX(-120%);
    }
    100% {
      -webkit-transform: translateX(0%);
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-120%);
    }
  }

  @-webkit-keyframes slide-out {
    0% {
      -webkit-transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-120%);
    }
  }
}

@media (max-width: 576px) {
  .subject-xs {
    margin-top: -60px;
  }

  .btn-group-vertical-xs {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .btn-group-vertical-xs > .btn {
    margin-left: -1px;
    width: 100%;
  }

  .btn-group-vertical-xs > .btn:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.21em !important;
    border-top-right-radius: 0.21em !important;
  }

  .btn-group-vertical-xs > .btn:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.21em;
    border-bottom-right-radius: 0.21em;
  }

  .btn-group-vertical-xs > .btn {
    display: block;
  }
}
